<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS ile ters proxy (reverse proxy) ornegi.
  Uygulamayi NSSM ile servis olarak 3000 portunda calistirip, IIS'i 80/443'te
  onune koymak isterseniz kullanin.

  Gereksinimler (IIS uzerinde bir kez kurulur):
    - URL Rewrite Module      : https://www.iis.net/downloads/microsoft/url-rewrite
    - Application Request Routing (ARR) : https://www.iis.net/downloads/microsoft/application-request-routing
    - IIS Manager > sunucu kok > "Application Request Routing Cache" > Server Proxy Settings:
        "Enable proxy" isaretli + "Response buffer threshold (KB)" = 0   (SSE/canli guncelleme icin sart!)

  Bu dosyayi IIS site klasorunun koküne (orn. C:\inetpub\bist-site\web.config) koyun.
-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReverseProxyToNode" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <!-- SSE (/api/events) icin tamponlamayi kapat -->
    <proxy enabled="true" preserveHostHeader="true" />
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
  </system.webServer>
</configuration>
